{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
       <img class="card-img-top" src="{{ pic.small_picture.url }}" alt="{{ pic.title }}">
       <div class="card-body">
        <p class="card-text">{{ pic.title }}</p>
         <p>{{ today }}</p>
     </div>
    </div>
  </div>
</div>
   {% if request.user.is_authenticated %}
     <div class="container">
<a href="{% url 'picture_delete' pic.pk %}"><button class="btn btn-danger">Delete</button></a>
<a href="{% url 'picture_update' pic.pk %}"><button class="btn btn-primary">Update</button></a></div>
{% endif %}
{% endblock %}
